<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HttpDatabaseLogin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>loginServlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>loginServlet.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>loginServlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>loginServlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>loginServlet.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>email</display-name>
    <servlet-name>email</servlet-name>
    <servlet-class>loginServlet.email</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>email</servlet-name>
    <url-pattern>/email</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>loginServlet.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Email</display-name>
    <servlet-name>Email</servlet-name>
    <servlet-class>loginServlet.Email</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Email</servlet-name>
    <url-pattern>/Email</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseReg</display-name>
    <servlet-name>CourseReg</servlet-name>
    <servlet-class>loginServlet.CourseReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseReg</servlet-name>
    <url-pattern>/CourseReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Payment</display-name>
    <servlet-name>Payment</servlet-name>
    <servlet-class>loginServlet.Payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment</servlet-name>
    <url-pattern>/Payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mail</display-name>
    <servlet-name>Mail</servlet-name>
    <servlet-class>loginServlet.Mail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mail</servlet-name>
    <url-pattern>/Mail</url-pattern>
  </servlet-mapping>
</web-app>